/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #050f19;
}

// Основные стили

.content-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0px 15px;
}
.header {
  .header__content {
    .nav-primary {
      background: #fafbfc;
      .nav-primary__list {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
        min-height: 32px;
        & > li:first-child {
          margin-right: auto;
        }
        & > li {
          a {
            display: flex;
            align-items: center;
            img + span,
            span + img {
              margin-left: 8px;
            }
          }
        }
        li + li {
          margin-left: 24px;
        }
        a {
          text-decoration: none;
          color: #708598;
        }
        .nav-burger {
          display: flex;
          align-items: center;
          position: relative;
          z-index: 2;
        }
        .nav-burger.active {
          &::after {
            content: "\2715";
            font-size: 20px;
          }
          & > img {
            display: none;
          }
        }
      }
      .nav-burger__content {
        position: fixed;
        right: 0;
        top: 0;
        width: 160px;
        padding: 40px 20px 20px 20px;
        background: #fafbfc;
        z-index: 1;
        -webkit-box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.75);
        ul {
          list-style: none;
          padding: 0;
          li {
            margin: 0;
            span + img {
              margin-left: 8px;
            }
            a {
              text-decoration: none;
              color: #708598;
            }
          }
          li + li {
            margin-top: 10px;
          }
        }
      }
    }
    .header__body {
      padding: 18px 0;
      border: 1px solid #eceff1;
      .content-container {
        display: flex;
        align-items: center;
        * + * {
          margin-left: 24px;
        }
        .logo {
          width: 221px;
          height: 48px;
        }
        .catalog {
          display: flex;
          align-items: center;
          justify-content: center;
          background: #fed83d;
          border-radius: 4px;
          min-width: 116px;
          max-width: 116px;
          height: 40px;
          box-sizing: border-box;
          cursor: pointer;
          img + span {
            margin-left: 10px;
          }
          span {
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: #050f19;
          }
          img {
            width: 20px;
            height: 20px;
          }
        }
        .search {
          position: relative;
          width: 100%;
          img {
            position: absolute;
            margin-left: 0;
            right: 10px;
            width: 20px;
            height: 20px;
            top: 50%;
            transform: translate(0, -50%);
          }
        }
        .list {
          display: flex;
          align-items: center;
          justify-content: center;
          background: #fafbfc;
          border: 1px solid #eceff1;
          box-sizing: border-box;
          border-radius: 4px;
          min-width: 111px;
          max-width: 111px;
          height: 40px;
          cursor: pointer;
          div + span {
            margin-left: 12px;
          }
          span {
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: #050f19;
          }
          div {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              width: 10px;
              height: 10px;
              background: #e92f2f;
              border: 2px solid #fafbfc;
              box-sizing: border-box;
              border-radius: 50%;
              top: -4px;
              right: -4px;
            }
          }
        }
        .profile {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #9b51e0;
          min-width: 40px;
          max-width: 40px;
          min-height: 40px;
          border-radius: 50%;
          cursor: pointer;
          span {
            color: #fff;
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
    }
  }
}

// Autocomplete styles

.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
  > .v-input__control
  > .v-input__slot {
  box-shadow: none;
  border: 1px solid #eceff1;
  padding: 8px 34px 8px 14px;
  height: 40px;
  border-radius: 4px;
}

.search.active .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
> .v-input__control
> .v-input__slot {
  padding-right: 10px;
}

.v-text-field.v-text-field--solo .v-input__control {
  min-height: 40px;
}
#input-5 {
  margin: 0;
}
.v-label.theme--light {
  font-size: 14px;
  line-height: 24px;
  color: #708598;
}
.v-text-field.v-text-field--solo .v-label {
  position: relative;
  top: 5px;
}

// Media

@media (max-width: 800px) {
  .header__body {
    .content-container {
      display: grid !important;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 24px;
      & > * {
        margin-left: 0 !important;
      }
      .logo {
        grid-column: 2;
        grid-row: 1;
      }
      .catalog {
        grid-column: 1;
        grid-row: 1;
        margin: 0;
      }
      .search {
        grid-column: 1 / span 2;
        grid-row: 2;
      }
      .list {
        grid-column: 3;
        grid-row: 2;
        justify-self: end;
      }
      .profile {
        grid-column: 3;
        grid-row: 1;
        justify-self: end;
      }
    }
  }
}

@media (max-width: 530px) {
  .header__body {
    .content-container {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 12px;
      .logo {
        grid-column: 1 / span 3;
        grid-row: 1;
        justify-self: center;
      }
      .catalog {
        grid-column: 1;
        grid-row: 3;
      }
      .search {
        grid-column: 1 / span 3;
        grid-row: 2;
      }
      .list {
        grid-column: 2;
        grid-row: 3;
      }
      .profile {
        grid-column: 3;
        grid-row: 3;
      }
    }
  }
}
